*{
  font-family: "Times New Roman";
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #353541; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  //padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
border-top: 1px solid #282835;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: relative;
  top: 0;

  font-size: 36px;
  //margin-left: 50px;
  color: #fb6470;
  background-image: url("../assets/img/fotoport.png");

background-size: cover;
}

#main {
  transition: margin-left .5s;
  //padding: 20px;
}
.my_name{
  color: white;
  font-size: 32px;
  padding-top: 50px;
}
.my_name_next{
  font-size: 16px;
}

@media screen and (max-height: 450px) {
  //.sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.section_home {
  display: grid;
  grid-template-columns: 630px;
  color: white;
  background: #353541;
  width: 100%;
  height: 430px;
  align-content: center;
  justify-content: center;

}

.title_home {
  font-size: 48px;
}

.title_home1 {
  width: 500px;
  font-size: 14px;
  text-align: center;
  padding-left: 80px;
}

.button_home {
  width: 170px;
  height: 50px;
  border-radius: 6px;
  background: #fb6470;
  margin-left: 210px;
  margin-top: 60px;
  color: white;
  font-size: 22px;
}

.section_about {
  height: 680px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.title_about {
  width: 350px;
  height: 190px;
  padding-top: 125px;

}

hr {
  width: 80px;
  background: #bd535f;
  position: relative;
  right: 136px;
  //  ???????????????????????????????
}

.text_about {
  font-size: 32px;
  font-weight: bold;
}

.text_about1 {
  font-size: 14px;
  height: 40px;
}

.details_about {
  width: 350px;
  height: 260px;
  display: grid;
  margin-top: 50px;

}

.detail_text {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  background: #f9f9f9;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.detail_text1 {
  font-weight: normal;
  padding-left: 10px;
}

.details_foto {
  width: 320px;
  height: 465px;
  background: #353541;
  margin-top: 120px;
  background-size: cover;
}

.text_line {
  font-size: 32px;
  font-weight: bold;
  padding-left: 210px;
  padding-top: 70px;
}

.line {
  border-bottom: 1px solid #bd535f;
  padding-bottom: 25px;
  width: 80px;
  margin-left: 210px;
}

.section_experience {
  width: 100%;
  height: 600px;
  display: flex;
  padding-top: 35px;
  justify-content: center;
}

.shape_experience {
  border-left: 2px solid black;
  height: 427px;
  margin-left: 50%;
  margin-top: 10px;

}

.shape_ellipse {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid black;
  background: white;
}

.shape_ellipse1 {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid black;
  background: white;
  margin-top: 125px;
}

.shape_ellipse2 {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid black;
  background: white;
  margin-top: 80px;
}

.shape_ellipse3 {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid black;
  background: white;
  margin-top: 125px;
}

.center-red-ellipse {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid black;
  background: #bd535f;
  margin-left: 8px;
  margin-top: 8px;
}

.dialog-window-left {
  background-image: url("../assets/img/dialog.png");
  background-repeat: no-repeat;
  width: 350px;
  height: 130px;
  margin-left: 10px;
}

.dialog-window-right {
  background-image: url("../assets/img/dialog2.png");
  background-repeat: no-repeat;
  width: 350px;
  height: 130px;
}

.dialog-window {
  display: grid;
  grid-auto-rows: 280px;
  padding-top: 80px;


}

.dialog-window1 {
  display: grid;
  grid-auto-rows: 280px;
}

.text-dialog {
  font-family: "Times New Roman";
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

h {
  color: #959599;
  font-size: 14px;

}

.text-dialog-red {
  position: absolute;
  color: #bd535f;

}

.text-dialog1 {
  font-family: "Times New Roman";
  color: white;
  padding-top: 10px;
  padding-left: 40px;
}

.div-line {
  border-bottom: 1px solid #e5e5e5;
  width: 780px;
}

.dividing-line {
  display: flex;
  justify-content: center;
}
.section_skills{
  height: 430px;
  background: #1d1d24;
  color: white;
  font-size: 18px;
}
.texts_line {
  font-size: 32px;
  font-weight: bold;
  padding-left: 210px;
  padding-top: 70px;
  color: white;
}
.skills{
  display: flex;
  justify-content: space-evenly;
padding-top: 50px;
}
.skills_right{
  width: 340px;
  right: 220px;
  display: flex;

}
.skills_left{
  width: 340px;
  right: 220px;
  display: flex;
}
.skill_line_inside{
  width: 270px;
 background: #bcbcbe;
  height: 5px;

}
.skill_line{
  border-bottom: 5px solid #bd535f;
  width: 90%;
}
.skill_line1{
  border-bottom: 5px solid #bd535f;
  width: 98%;
}
.skill_line2{
  border-bottom: 5px solid #bd535f;
  width: 70%;
}
.skill_line3{
  border-bottom: 5px solid #bd535f;
  width: 90%;
}
.skill_line4{
  border-bottom: 5px solid #bd535f;
  width: 80%;
}
.skill_line5{
  border-bottom: 5px solid #bd535f;
  width: 96%;
}
.percent{
padding-left: 20px;
padding-top: 15px;
  line-height: 60px;
  font-size: 14px;
}
.skill{
line-height: 50px;
}


.section_footer{
height: 460px;
display: flex;
  justify-content: space-evenly;
}
.forms{
display: flex;
justify-content: center;
  padding-top: 85px;
}
form{
  display: grid;
 grid-template-columns: 265px;
grid-auto-rows: 35px 35px 35px 95px 35px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  font-size: 14px;

}
.submit{
  width: 100px;
  margin-left: 165px;
  background: #fb6470;
  color: white;
}
.forms_text{
  font-size: 22px;
}
.input{
  font-style: italic;
  padding-left: 10px;
}
.textarea{
  font-style: italic;
  padding-left: 10px;
}
.vertical_line{
  width: 1px;
  height: 255px;

margin-top: 120px;
  background: #bcbcbe;
}
.address{
  width: 340px;
  height: 280px;
  margin-top: 85px;
 display: grid;

}
.address_img{
  background-image: url("../assets/img/footerhome.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

}
.address_img1{
  background-image: url("../assets/img/footermail.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.address_img2{
  background-image: url("../assets/img/footerphone.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.address_text{
 font-size: 18px;
  padding-left: 50px;
}
.address_text1{
  font-size: 14px;
}
.section_social{
  height: 100px;
  padding-top: 30px;
}
.social{
  display: flex;
  justify-content: center;

}
.twitter{
  background-image: url("../assets/img/tw.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.skype{
  background-image: url("../assets/img/skype.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
margin-left: 15px;
  cursor: pointer;
}

.drible{
  background-image: url("../assets/img/dr.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  margin-left: 15px;
  cursor: pointer;
}
.social_line{
  background: #bcbcbe;
  width: 1px;
  height: 20px;
}
.social_text {
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding-top: 15px;
}




@media (max-width: 950px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 100%;
  }
  .section_home {
    grid-template-columns: unset;
  }
  .text_line {
    padding-left: unset;
  }
  .line {
    margin-left: unset;
  }
.texts_line{
  padding-left: unset;
}
}

@media (min-width: 641px) and (max-width: 1024px) {
  .section_home {
    max-width: 100%;
  }
}


@media (max-width: 640px) {
  .container {
    max-width: 100%;
  }
  .section_home{
   display: block;
  }
  .title_home1{
    text-align: unset;
    padding-left: unset;
    width: unset;
  }
  .button_home{
    margin-left: unset;
  }
  .section_about{
    display: block;
    height: 800px;
  }
  .section_skills{
    height: 600px;
  }
  .skills{
    display: block;
  }
.section_footer{
  display: contents;
}
  .title_about{
    width: unset;
  }
  .details_about{
    width: unset;
  }
  .section_experience{
    display: contents;
  }
.dialog-window-right{
  width: unset;
}
  .dialog-window-left{
    width: unset;
  }
.dialog-window{
  grid-auto-rows: unset;
}
  .dialog-window1{
    grid-auto-rows: unset;
  }
  .vertical_line{
    height: unset;
  }
}
